@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <partial name="NavPartial"/>
    <partial name="TimeKeeperPartial" view-data="ViewData"/>
    @{
        Product productObject = new Product(){ProductName = "Boombox", Price = 120.00};
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <partial name="ProductPartial" model="productObject"/>
</div>
