<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Contact.css">
    <title>Contact</title>
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
        |
        <a href="/projects">Projects</a>
        |
        <a href="/contact">Contact</a>
    </div>
    <div id="container">
        <h1>Contact Me!</h1>
        <form action="">
            <div id="contact">
                <p>
                    <label>Name</label>
                    <input type="text" name="Name" id="name">
                </p>
                <p>
                    <label>Email</label>
                    <input type="text" name="Email" id="email">
                </p>
            </div>
            <div id="message">
                <p>Message</p>
                <textarea type="text" name="Message" id="message">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
</html>