<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home.css">
    <title>Home</title>
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
        |
        <a href="/projects">Projects</a>
        |
        <a href="/contact">Contact</a>
    </div>
    <div id="container">
        <h1>About Me</h1>
        <div id="about-me">
            <div id="bio-pic">
                <img src="#" alt="bio_picture.jpg">
                <p>Moose Phillips</p>
                <p>I like stuff!</p>
            </div>
            <div id="bio-body">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium voluptate reiciendis nulla enim expedita,
                    odit voluptas, eaque voluptatibus hic provident perferendis itaque aliquid facilis deserunt minima officia repellat quo autem?
                </p>
            </div>
        </div>
    </div>
</body>
</html>