<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/WeddingForm.css">
    <title>Wedding Form</title>
</head>
<body>
    <header>
        <h1>Plan Your Wedding</h1>
        <nav>
            <a href="/Dashboard">Dashboard</a>
            <a asp-action="Logout" asp-controller="LogReg">Log Out</a>
        </nav>
    </header>
    <div id="form">
        <form asp-action="AddWedding" asp-controller="Home" method="POST">
            <partial name="WeddingFormPartial"/>
        </form>
    </div>
</body>
</html>