@model DojodachiPet
<div id="info-bar">
    <p>Fullness: <span>@Model.Fullness</span> Happiness: <span>@Model.Happiness</span> Meals: <span>@Model.Meals</span> Energy: <span>@Model.Energy</span></p>
</div>