<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/NewDish.css">
    <title>Add Dish</title>
</head>
<body>
    <h1>Add a new Dish!</h1>
    <a href="/">Home</a>
    <form action="Submit" method="POST">
        <partial name="DishFormPartial"/>
    </form>
</body>
</html>