<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using ViewModel_Fun.Models
    <title>Home Tab</title>
</head>
<body>
    @model User
    <h2>Here is a message!</h2>
    <p>@Model.Message</p>
</body>
</html>