<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using ViewModel_Fun.Models
    <title>Person Tab</title>
</head>
<body>
    @model User
        <p>Here is a User!</p>
        <h1>@Model.FirstName @Model.LastName</h1>
</body>
</html>