<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Time.css">
    <title>Time Display</title>
</head>
<body>
    <h1>The current time and date:</h1>
    <div id="time">
        @{
            DateTime CurrentTime = DateTime.Now;
            <p>@CurrentTime.ToString("M"), <span>@CurrentTime.ToString("yyyy")</span> @CurrentTime.ToString("t")</p>
        }
    </div>
</body>
</html>